<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <title>Rendezvényszervező</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        {{> header}}
        {{{ body }}}
        {{> footer}}
    </body>
</html>
