@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --secondary-bg-color: #e6e8eb;
    --main-bg-color: #e0dddd;
    --blue: #2098dd;
    --white: #efefef;
    --whitesmoke: #dfdfdf;
    --font-grey: #5e5c5c;

    --radius: 4px;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-color: var(--main-bg-color);
}

header, footer {
    height: 4rem;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 0 4px black;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

footer {
    font-size: .8rem;
    justify-content: center;
}

#title {
    margin: 0;
    color: var(--white);
}

/* Navbar */

nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--white);
    padding: 0 1rem;
    transition: color .2s;
}

nav a:hover {
    color: white;
}

.wrapper {
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0 0 1px black;
    width: 1000px;
    min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 600px;
    }
}

h2 {
    color: var(--font-grey);
    margin-bottom: 2.5rem;
}


/* Form */

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.15rem;
    color: var(--font-grey);
}

input,
textarea,
select {
    box-sizing: border-box;
    display: inline-block;
    box-shadow: none;
    border: 2px solid #a5a5a5;
    border-radius: var(--radius);
    color: var(--font-grey);
    padding: 0.6rem;
    width: 270px;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0;
    border-color: var(--blue);
}

input[type="button"],
input[type="submit"] {
    display: inline-block;
    width: fit-content;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    box-shadow: none;
    color: var(--white);
    border: 2px solid var(--blue);
    background-color:var(--blue);
    transition: color 0.5s, background-color 0.5s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    color: var(--blue);
    background-color: var(--white);
    cursor: pointer;
}

input[type="button"]:disabled,
input[type="submit"]:disabled {
    background-color: #afafaf;
    color: #ececec;
    border: 2px solid #afafaf;
    cursor: default;
}

.radio-group {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    width: fit-content;
}

input[type="radio"] + label {
    display: inline;
}

.form-group {
    margin-bottom: .8rem;
}

/* Alert boxes */

.alert {
    display: block;
    overflow: hidden;
    width: fit-content;
    font-size: .9rem;
    border-radius: var(--radius);
    padding: .3rem .8rem;
    margin: 1rem;
    border: 1px solid var(--blue);
    color: var(--blue);
    transition: opacity 1s linear, max-height 1s step-start;
    max-height: 9999px;
}

.alert.alert-hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition-timing-function: linear, step-end;
}


.alert.alert-warning {
    border-color: #9b0000;
    color: #9b0000;
}


.alert.alert-success {
    border-color: rgb(0, 139, 12);
    color: rgb(0, 139, 12);
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    padding: 1rem;
    width: auto;
    height: auto;
    max-height: 150px;
    transition: transform .2s;
}

.gallery img:hover {
    transform: scale(1.2);
}

/* Others */

.small {
    font-size: .65rem;
}

.spacer {
    display: block;
    opacity: 0;
    height: 1.5rem;
}

.event-name {
    cursor: pointer;
}

.event-button {
    margin-top: 1rem;
}
